h2{
  position: relative;
}

h2::after{
  content: "";
  height: 2px;
  width: 0%;
  background-color: red;
  position: absolute;
  left: 0px;
  bottom: 0px;
  transition: all ease 0.3s;
}

h2:hover::after{
  width: 100%;
}
